.wrapper{
	position : relative;
	float : left;
	width : 100%;
	/*text-align : right;*/
	


}
.row{
	display:flex;
}
.col5{
	width : 50%;
	display:flex;
}
.col10{
	width : 100%;
	display:flex;
	text-align:center;
}


.field_name{
	width : 49.5%;
	text-align : right;


}
.input_field{
	width : 49.5%;
}
.submit{
	text-align : right;
}