.heading{
	background: url(http://gharsearch.com/alert-overlay.png);
	border:1px solid #f0f0f0;
	width:100%;
	height:30px;
	font-size:12px;
	font-family:arial;
	font-weight:bold;
	
    color: #0671B7;
    

}
.featuredProjects{
	border:1px solid #f0f0f0;
	width:800px;
	height:200px;

}
.project{
	width:24%;
	height:80%;
	border:1px solid #000000;
	display:inline-block;
	position: relative;
   
    text-align: center;
}

.project .tooltip{
	display:none;
	 width: 120px;
    background-color: gray;
    color: #fff;
    text-align: center;
    left:10px;
    padding: 5px;
    border-radius: 6px;
 	position: absolute;
    z-index: 1;
}