

.tooltip {
    position: relative;
    display: inline-block;
    text-align: center;
  
}

.tooltip .tiptext {
    
    display:none;
    width: 120px;
    background-color: gray;
    color: #fff;
    text-align: center;
    left:10px;
    padding: 5px;
    border-radius: 6px;

   /*border-top: 8px solid transparent;
  	border-bottom: 8px solid transparent;
 	border-right: 8px solid black;*/
    position: absolute;
    z-index: 1;
   /* margin-top: -30px;
    border-width: -30px;
    pointer-events: none;
    height: 0;
	width: 0;
	right: 100%;
	top: 50%;
	border-color: rgba(95, 46, 255, 0);
	border-right-color: #5f2eff;*/
}

/*.tooltip:hover:after, .tooltip:hover:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tooltip:hover:after {
	border-color: rgba(95, 46, 255, 0);
	border-right-color: #5f2eff;
	border-width: 5px;
	margin-top: -5px;
}
.tooltip:hover:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #c2e1f5;
	border-width: 11px;
	margin-top: -11px;
}*/
/*.tooltip:hover .tiptext{
	
	display:block;
	font-weight:bold;

}*/


.menu {
	display: flex;
}

.menu.menu-primary {
	background:#444;
	color: #dedede;
}

.menu .menu--item {
	display: inline;
	padding:10px;
}

.menu .menu--item:hover {
	background: #999;
	color:#dedede;
}

.menu .menu--item.menu--item-bold {
	font-weight: bold;
}

.menu .menu--item.menu--item-underline {
	text-decoration:underline;
}

.menu .menu--item.menu--item-italic {
	font-style: italic;
}

.menu .menu--item.menu--item-hidden {
	display: none;
}



.menu {
	display: flex;

	.child-element1 {

	}

	.child-element2 {

	}

	&.menu-primary {
		background:#444;
		color: #dedede;
	}

	.menu--item {
		display: inline;
		padding:10px;

		&:hover {
			background: #999;
			color:#dedede;
		}

		&.menu--item-bold {
			font-weight: bold;
		}

		&.menu--item-underline {
			text-decoration:underline;
		}

		&.menu--item-italic {
			font-style: italic;
		}

		&.menu--item-hidden {
			display: none;
		}
	}
}















//less
//sass - syntactically awesome stylesheets



@red: #bd0101;
@blue: #0501af;
@green: #217300;
@black: #333;
@lightgrey: #dedede;
@darkgrey: #ccc;

