
.menu{
/*border:1px solid red;*/
}
ul{
	list-style-type:none;
	margin: 0;
    padding: 10px;
    width: 470px;
    height:13px;
    background-color: #f1f1f1;
    /*border:1px solid red;*/
}

ul li {
	display:inline;
	/*border:1px solid red;*/
	width:16.66%;
	height:100%;
	
}
ul li a{
	
	text-decoration: none;
	 color: #000;
	 padding: 8px 16px;
    
}
li a:hover {
    background-color: #555;
    color: white;
    font-weight: bold;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
	float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.dropdown-content a:hover {background-color: #f1f1f1}


.show {display:block;}



.overlay{
	 background: rgba(0,0,0,0.5);  
    display: none;       
    position: absolute;   
    top: 0;                 
    right: 0;                
    bottom: 0;
    left: 0;
    z-index:1;

}


.loginPage{
	background:white;
	position:absolute;
	top: 50%; left: 50%;
	transform : translate(-50%,-50%); 

}